<ion-list>
  <ion-item lines="none" button (click)="switchOn('tech')">Tech</ion-item>
  <ion-item lines="none" *ngIf="!spaceEnoughForTags">Photography
    <ion-label style="display: none">Tag</ion-label>
    <ion-select #C placeholder="" style="margin-left: auto;" (ionChange)="switchOnReducePosts(C.value, 'photography')">
      <ion-select-option *ngFor="let tag of tags" value="{{tag}}">{{tag}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" button (click)="switchOn('photography')" *ngIf="spaceEnoughForTags">Photography</ion-item>
  <ion-item lines="none" button (click)="switchOn('about')">About</ion-item>
</ion-list>