ion-toolbar {
    padding-left: 5vw;
    padding-right: 5vw;
}

.site-title {
    margin: 0 0 0 1vw;
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
}

.title {
    font-family: 'Permanent Marker', cursive;
}