<ion-content fullscreen style="margin-top: 10px">
  
  <ion-toolbar style="--background: transparent;">
    <ion-text color="secondary">
    </ion-text>
    <ion-buttons slot="end" class="toolbar-buttons">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" ios="close" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-col class="col-content jump-top">
    <div class="story-content">
      <h1 class="event-title">{{this.event.title}}</h1>
      <h3>{{this.event.date}}</h3>
      <p>{{this.event.description}}</p>
    </div>
  </ion-col>

  <ion-row class="row-content">
    <ion-col class="col-content">
      <img src={{image}} class="image-content" *ngFor="let image of event.postImages"/>
    </ion-col>
  </ion-row>
  
</ion-content>
  