<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-text>
      <button routerLink='/home' style="background-color: transparent; border: none; outline:none;">
        <h1 class="site-title unselectable">Alex Darie</h1>
      </button>
    </ion-text>
    <ion-buttons slot="end" class="toolbar-buttons">
      <ion-button href="https://www.linkedin.com/in/adascalitei-alexandru-b48817a4/" target="_blank">
        <ion-icon class="white-icons" slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-button href="https://github.com/alexdarie" target="_blank">
        <ion-icon class="white-icons" slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
      <ion-button href="https://www.instagram.com/_alexdarie/" target="_blank">
        <ion-icon class="white-icons" slot="icon-only" ios="logo-instagram" md="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button href="https://www.messenger.com/t/alexandru.darie.1" target="_blank">
        <ion-icon class="white-icons" slot="icon-only" ios="logo-facebook" md="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slides-centered-container">
    <ion-slides pager="true" [options]="slideOptions[1]">
      <ion-slide class="slide" *ngFor="let article of articles.popular.slice(0, 5)">
        <ion-col style="padding: 0px">
          <div class="preview-image-container">
            <img src={{article.media.landscape}}>
          </div>
          <ion-card class="preview-card">
            <ion-item>
              <ion-icon name="scan-outline" slot="start"></ion-icon>
              <ion-label class="card-title">{{article.title}}</ion-label>
              <ion-button shape="block" class="card-subtitle" fill="outline" color="medium" style="border: none; outline:none;" slot="end" [routerLink]="['/article', article.category, article.id]">Read more</ion-button>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="team-centered-container">
    <ion-row class="wrap-content">
      <ion-col class="column-margin-left min-width">
        <h5 style="cursor: pointer; border: none; outline:none;" class="card-title" 
        [routerLink]="['/article', 'about', '1']">Read more about the projects I am working on<span>
          <ion-icon name="arrow-redo-outline" style="margin-left: 6px; margin-top: 5px;"></ion-icon>
        </span></h5>
        <p class="about-text unselectable card-subtitle">{{projectsDescription}}</p>
      </ion-col>
      <ion-col class="column-bottom-right min-width">
        <ion-row class="row-centered">
          <ion-avatar class="avatar-margin">
            <img src="../../assets/images/about/alexdarie.jpg">
            <p class="team-member-name unselectable card-subtitle">Hi there!</p>
          </ion-avatar>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div class="posts-centered-container">
    <ion-row>
      <ion-col>
        <div class="">
          <h3 class="card-title">Photography in general</h3>
          <p class="card-subtitle">Learn something from my trials and errors</p>
        </div>
        <ion-row *ngFor="let row of articles.tipsAndTricks">
          <ion-col *ngFor="let article of row">
            <ion-item lines="none" class="ion-activated" class="news-min-width">
              <ion-col>
                <img src={{article.image}} tappable [routerLink]="['/article', article.category, article.id]"/>
                <ion-card-header>
                  <ion-card-subtitle class="card-subtitle" style="text-transform: uppercase; font-weight: bold;">
                    {{article.category}}
                  </ion-card-subtitle>
                  <ion-card-title class="card-title">
                    {{article.title}}
                  </ion-card-title>
                </ion-card-header>
              
                <ion-card-content class="card-subtitle">
                  {{article.content.header.substring(0, 200)}}...
                </ion-card-content>
              </ion-col>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div class="posts-centered-container">
    <ion-row>
      <ion-col>
        <div class="">
          <h3 class="card-title">Concert photography</h3>
          <p class="card-subtitle">This is the journey I took since 2017</p>
        </div>
        <ion-slides [options]="slideOptions[crntSldOpt]">
          <ion-slide *ngFor="let article of articles.concerts">
            <ion-card style="margin-bottom: 35px;">
              <img src={{article.media.square}} tappable [routerLink]="['/article', article.category, article.id]"/>
              <ion-card-header>
                <ion-card-title class="card-title">
                  {{article.title}}
                </ion-card-title>
              </ion-card-header>
            
              <ion-card-content class="card-subtitle">
                {{article.content.header}}
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div class="posts-centered-container">
    <ion-row>
      <ion-col>
        <div class="">
          <h3 class="card-title">Computer Science</h3>
          <p class="card-subtitle">How I combine creative thinking with computers programming</p>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item *ngFor="let article of articles.cs.slice(0, articles.cs.length / 2)">
                  <ion-thumbnail slot="end">
                    <img src={{article.image}}>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>Lorem ipsum</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col>
              <ion-list>
                <ion-item *ngFor="let article of articles.cs.slice(articles.cs.length / 2, articles.cs.length)">
                  <ion-thumbnail slot="start">
                    <img src={{article.image}}>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>Lorem ipsum</h3>
                    <p>dolor sit amet</p>
                    <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>

  <ion-footer>
    <ion-grid>
      <ion-row class="posts-centered-container">
        <ion-col>
          <p class="card-subtitle">© alexdarie</p>
        </ion-col>
        <ion-col class="card-subtitle">
          <p>Coded myself with <ion-icon name="logo-ionic"></ion-icon>, <ion-icon name="heart"></ion-icon>, namecheap 
            and <ion-icon name="logo-firebase"></ion-icon>.
          <br><br>
          <p>The fastest (and most reliable) way to reach me is on Messenger: </p>
          <p><a href="https://www.messenger.com/t/alexandru.darie.1">m.me/alexandru.darie.1</a></p>
        </ion-col>
        <ion-col class="contact-last-col"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
